.avatar {
    width: 200px;
    height: 200px;
}
.review-image {
    width: 150px;
    height:150px;
    border-radius: 10px;
}
.review-div {
    align-items: center;
    width: 80%; /* Adjust as needed */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
}

.review {
    display: flex;
}

.rating-div {
    padding-left: 10px;
}
.rating-star {
    font-size: medium;
}

.user-container {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    padding: 40px;
}

.left-div {
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: fit-content;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    display: block;
    gap: 20px;
}

.right-div {
    margin-left: 40px;
}

.user-image {
    width: 250px;
    height: 250px;
}

.review-div:hover {
    opacity: 1;
    transform: translateY(-3%);
    box-shadow: 0 10px 20px maroon;
}

.btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.btn:hover button {
	letter-spacing: 3px;
}
.btn button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.btn:hover button::before {
	transform: skewX(45deg) translate(200px);
}
.btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #c52f82;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #c52f82;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.btn:nth-child(1)::before, /*chnage 1*/
.btn:nth-child(1)::after {
	background: maroon;
	box-shadow: 0 0 5px maroon, 0 0 15px maroon, 0 0 30px maroon,
		0 0 60px maroon;
}