.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 70px); /* 100% of the viewport height */
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 1rem;
    padding-top: 70px;
}

.restaurant-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 80%; /* Adjust as needed */
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.restaurant-card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.restaurant-info {
    margin-left: 1rem;
}

.restaurant-image{
    width: 700px;
    height: 350px;
	box-shadow: 0 10px 20px #c52f82;
	border-radius: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.res-details{
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.res-name {
    box-shadow: 0 10px 20px #c52f82;
	border-radius: 10px;
	margin-bottom: 30px;
	margin-top: 25px;
	padding: 5px;
    width: auto;
    justify-content: center;
    align-items: center;
}

.review-form-div {
    box-shadow: 0 10px 20px #c52f82;
	border-radius: 10px;
    padding: 20px;
}

.area{
    box-shadow: 0 10px 20px #c52f82;
	border-radius: 10px;
    padding: 20px;
    border: none;
}

.submit-btn {
    box-shadow: 0 10px 20px #c52f82;
	border-radius: 10px;
    padding: 20px;
    background-color: transparent;
    border: none;
}

.submit-btn:hover{
    transform: translateY(-10%);
}


